[Desktop Entry]
Name=droidbattles
Comment=A game of programming
Comment[pl]=Gra w programowanie
Icon=droidbattles.png
Exec=droidbattles
Terminal=0
Type=Application
