[Desktop Entry]
Name=droidbattles
Comment=A game of programming
Comment[pl]=Gra w programowanie
Icon=droidbattles
Exec=droidbattles
Terminal=false
Type=Application
# vi: encoding=utf-8
