[Desktop Entry]
Encoding=UTF-8
Name=droidbattles
Comment=A game of programming
Comment[pl]=Gra w programowanie
Icon=droidbattles.png
Exec=droidbattles
Terminal=false
Type=Application
